@model ThietKeWeb.Models.ViewModel.RegisterVM

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Layout.css" />
<h2 style="color:black">Thay đổi mật khẩu</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Username)
        <div class="form-group">
            <label>Mật khẩu hiện tại</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu mới" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>


    <button type="submit" class="btn btn-danger">Cập nhật</button>
}

