@model TaYenPhuong_BE.Models.ViewModel.HomeProduct__2VM
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0 auto;
            / padding: 0;
            font-family: Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            background-color: #FFFF;
            /*
            text-decoration: none;*/

            max-width: 1920px;
            /*            display: block;*/
        }

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        .header {
            width: 100%;
            background-color: #4B7864;
            align-items: center;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        /*top head*/
        .top-head {
            width: 80%;
            background-color: #FAF0E7;
            border-radius: 16px;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

            .top-head a {
                width: 18%;
                height: auto;
            }

        .logo {
            width: 100%;
            height: auto;
        }

        .head-middle {
            position: relative;
        }

        .top-head input {
            max-width: 5000px;
        }

        .search {
            border: none;
            border-radius: 20px;
            width: 450px;
            padding: 15px;
            outline: none;
            font-size: 18px;
            background-color: #CCCC;
        }

        .search-button {
            position: absolute;
            right: 0;
            top: 8%;
            bottom: 0;
            border: none;
            cursor: pointer;
            width: 70px;
            height: 35px;
            border-radius: 8px;
            padding-top: 4px;
            background: none;
        }

        /*icon mua hàng*/
        .cart {
            position: relative;
        }

        .cart-count {
            position: absolute;
            right: -17px;
            top: -2px;
            background-color: red;
            color: white;
            border-radius: 45%;
            padding: 3px;
            font-size: 14px;
        }

        .menu {
            display: flex;
        }

            .menu a {
                color: white;
                font-size: 18px;
            }

        #selection {
            margin-right: 35px;
            color: black;
        }

        .selection-image {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
        /*thanh menu*/
        .list-background {
            width: 100%;
            height: fit-content;
            margin-top: 8px;
            padding: 0;
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            .list li a {
                width: fit-content;
            }

        /* thanh menu */
        .menu1 {
            font-size: 20px;
            color: white;
            display: inline-block;
            block-size: 35px;
            text-decoration: none;
            padding: 10px;
            width: fit-content;
        }

            .menu1:hover {
                color: white;
                display: inline-block;
                text-decoration: none;
                padding: 10px;
                background-color: #53382C;
                width: fit-content;
                border-radius: 8px;
            }

        /*thành phần trong thanh menu : trang chủ, thực đơn,...*/


        /*-------------------------------------------- body trang home ------------------------------------------------------------------*/


        .image2 {
            display: block;
            width: 100%;
            height: 50%;
            padding: 20px 0px;
            border-radius: 2px;
        }

        /*        .ad {
            clear: both;
            display: flex;
            align-items: center;
        }*/




        .prod-name {
            display: flow;
            padding-top: 4px;
        }

        .prod-name-list {
            text-align: center;
            text-decoration: none;
        }

        .prod-name a {
            color: white;
            position: relative;
            text-decoration: none;
            transition: all 0.2s ease;
        }

        .prod-name li a:hover {
            color: lightpink;
        }

        .prod-name li a::after {
            position: absolute;
            content: '\203A';
            left: -50px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .prod-name li a:hover::after {
            opacity: 1;
        }
        /*-------------------------------------sp noi bat : trang home----------------------------------------------- */
        #featureProd {
            text-align: center;
            padding: 10px;
        }

        .prod-list {
            width: 100%;
            background-color: #4B7864;
            height: fit-content;
            margin-bottom: 20px;
            width: 100%;
        }

        h2 {
            font-size: 20px;
            vertical-align: middle;
            font-style: italic;
            color: white;
            font-weight: bold;
            padding: 5px;
        }

        .prod-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
        }
        /*khối sản phẩm bán chạy */
        .List_BestSeller_Prod {
            display: flex;
            flex-grow: 1;
            align-items: center;
            overflow: auto;
            white-space: nowrap;
            padding: 10px;
            justify-content: space-evenly;
        }
        /*khung từng sản phẩm*/
        .prod {
            width: fit-content;
            padding: 10px;
            background-color: #EFEDED;
            border-radius: 12px;
        }

        .prod-item {
            width: 100%;
            height: 150px;
            transition: transform 0.2s ease;
        }


        .prod-box {
            /*            width: 150px;
            height: 150px;*/
            border-radius: 12px;
            transition: transform 0.2s ease;
        }
        /*animation hover*/
        .prod:hover {
            transform: translateY(-3px);
            box-shadow: 2px 2px 18px grey;
            padding: 10px;
        }


        /*tên sản phẩm*/
        h3 {
            font-size: 16px;
            color: black;
            font-weight: bold;
            padding: 3px;
            font-style: italic;
            margin: 0;
        }



        .prod-price {
            font-size: 12px;
            color: green;
            margin: 0;
        }
        /*------------------------------------------------------footer------------------------------------------------------------------*/
        #footer {
            background-color: #b5b4b4;
            color: #4B7864;
            clear: both;
            display: flex;
            flex-direction: row;
            padding: 10px;
            gap: 80px;
            height: fit-content;
        }

            #footer img {
                width: 45px;
                height: 45px;
            }

        .Team-introduce {
            display: flex;
            flex-direction: column;
        }

            .Team-introduce p {
                margin: 0px;
                font-size: 15px;
            }

        .Team-name {
            color: black;
            font: 50 18px Inter,;
        }
/* dropdown menu thực đơn */
        .list li {
            display: inline-block;
            position: relative;
        }

        .dropdown li {
            display: block;
            margin: 2px 0px;
            padding: 5px;
        }

        .dropdown {
            width: 250px;
            background: #FFFF;
            position: absolute;
            z-index: 999;
            display: none;
            padding: 20px;
            text-align: left;
            border: 0.5px solid #cccc;
            border-radius: 8px;
        }

            .dropdown li a{
                
                color: black;
                font-size: 15px;
                font-weight: bold;
                padding: 10px;
            }

            .dropdown .category-select:hover {
                background: #4B7864;
               
               
            }
            .dropdown .category-select a:hover {
                width:100%;
            }

        ul li:hover ul.dropdown {
            display: block;
        }
    </style>

</head>
<body>
    @* header *@
    <header class="header">
        <div class="top-head">

            <a href="~/Home/Index"><img src="~/Content/images/logo1.png" class="logo" /></a>

            <div class="head-middle">

                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="form-group search-container ">
                        @Html.TextBoxFor(m => m.SearchTerm, new
                        {
                             @class = "search",
                            placeholder = " Tìm kiếm sản phẩm, danh mục tại đây..."

                        })


                        <button type="submit" class="search-button">

                            <i class="fa-solid fa-magnifying-glass" style="font-size:18px"></i>
                        </button>


                    </div>

                }

            </div>

            <ul class="menu">
                <li>
                    <a href="~/Home/GioHang" id="selection" class="cart">
                        <img src="~/Content/images/Shopping-cart-icon.png" class="selection-image" />Giỏ hàng
                        <span class="cart-count">0</span>
                    </a>
                </li>
                @*--------------------------------------------------------------------login--------------------------------*@
                <li><a href="~/Home/LogIn" id="selection"><img src="~/Content/images/Character-icon.png" class="selection-image" />Tài khoản</a></li>
            </ul>

        </div>

        @*--------------------------- thanh menu ---------------------------*@
        @Html.Partial("PVThanhMenu", Model)
        <!--<div class="list-background">

        <ul class="list">

            <li><a href="~/Home/Index" class="menu1">Trang chủ</a></li>-->
        @*phần mục lục của thực đơn  chưa gắn link cho category*@
        <!--<li><a href="~/Home/ProDuctDetail" class="menu1">Thực đơn <i class="fa-solid fa-caret-down"></i></a>
                  <ul class="dropdown">
                      <li> <p style="color:#4B7864">Danh mục thực đơn</p></li>
                      <li><a href="#">Best seller </a> </li>
                       <li><a href="#">Cà phê </a> </li>
                       <li><a href="#">Trà </a> </li>
                       <li><a href="#">Đá xay </a> </li>


                  </ul>
                </li>


            <li><a href="~/Home/Recruit" class="menu1">Tuyển dụng</a></li>
            <li class="dropdown-btn">
                <a href="~/Home/About us" class="menu1">Địa chỉ</a>
            </li>
            <li><a href="~/Home/Address" class="menu1">Lịch sử mua hàng</a></li>
        </ul>
    </div>-->
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="contact-icons">
            <img src="~/Content/images/fb-icon.png" class="fb-icon-image" />
            <img src="~/Content/images/ins-icon.png" class="ins-icon-image" />
            <img src="~/Content/images/tw-icon.png" class="tw-icon-image" />
        </div>
        <div class="Team-introduce">
            <p>&copy; @DateTime.Now.Year - Email: BaronCafe@gmail.com.vn</p>
            <p class="Team-name">Ngô Quang Hào - Bạch Thị Thủy Triều - Huỳnh Thiện Tấn - Tạ Yến Phương</p>


        </div>




    </footer>

</body>
</html>
