<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            background-color: #f0f0f0;
            text-decoration: none;
        }

        .header {
            margin-top: 4px;
            width: 100%;
            background-color: #b22830;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content:space-around;
            margin-bottom: 10px;
        }

        .logo {
            width: 100%;
            height: 100px;
        }

        .head-middle {
            position: relative;
        }
        input {
            max-width: 470px;
        }

        .search {

            border: 1px solid #ccc;
            border-radius: 8px;
            width: 450px;
            padding: 6px;
            outline: none;
        }

        .search-button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            cursor: pointer;
            width: 70px;
            height: 35px;
            border-radius: 8px;
            padding-top: 4px;
            background: none;
        }

        .search-image {
            width: 70px;
            height: 29px;
            border-radius: 8px;
        }

        .cart {
            position: relative;
        }

        .cart-count {
            position: absolute;
            right: -17px;
            top: -3px;
            background-color: red;
            color: white;
            border-radius: 45%;
        }

        ul {
            display: flex;
        }

        .menu {

        }

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        .menu a {
            color: white;
            font-size: 18px;
            text-decoration: none;
        }

        #selection {
            margin-right: 35px;
            color: white;
        }

        .selection-image {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }

        .image1 {
            display: block;
            width: 100%;
            height: 50%;
            border-radius: 2px;
        }

        .image2 {
            display: block;
            width: 100%;
            height: 50%;
            border-radius: 2px;
        }

        .ad {
            clear: both;
            display: flex;
            align-items: center;
        }


        .list-background {

            width: 100%;
            height:35px;
        }

        .list {
            display: flex;
            align-items: center;
            justify-content:space-around;
            flex-wrap:wrap;
        }

        .menu1 {
            color: white;
            display: inline-block;
            block-size: 35px;
            text-decoration: none;
            transition: all 0.2s ease;
        }

            .menu1:hover {
                display: block;
                color: white;
                background-color: #53382C;
            }

        .menu2 {
            color: white;
            text-decoration: none;
            display: inline-block;
            block-size: 35px;
            transition: all 0.2s ease;
        }

            .menu2:hover {
                display: block;
                color: white;
                background-color: #53382C;
            }

        .menu3 {
            color: white;
            display: inline-block;
            block-size: 35px;
            text-decoration: none;
            transition: all 0.2s ease;
        }

            .menu3:hover {
                display: block;
                color: white;
                background-color: #53382C;
            }

        .list li {
            cursor: pointer;
        }
        .header{
            position:relative;
        }

        .dropdown-content {
            visibility:hidden;
            opacity: 0;
            position: absolute;
            list-style-type: none;
            z-index: 999;
            left: 0;
            top: 100%;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 0;
            text-align: center;
            transition: all 0.6s ease;
        }

        .dropdown-content-list {
            width: 100vw;
            height: 250px;
            margin-top: 15px;
            white-space: nowrap;
        }

        .content {
            margin-left: 30px;
        }

        .dropdown-content a {
            text-decoration: none;
            color: #ffcc00;
        }
        .dropdown-content li a {
            transition: color 0.3s ease;
        }

        .dropdown-content li a:hover {
            color: lightcyan;
            background-color: inherit;
        }

        .dropdown-btn:hover .dropdown-content {
            display: flex;
            background-color: #53382C;
            opacity:1;
            visibility:visible;
        }

        .menu2:hover .dropdown-content {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .dropdown-content {
            background-color: transparent;
        }

        .dropdown-content-1 {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            list-style-type: none;
            z-index: 999;
            left: 0;
            top: 100%;
            width: 100%;
            text-align: center;
            transition: all 0.6s ease;
        }

            .dropdown-content-1 a {
                text-decoration: none;
                color: #ffcc00;
            }
        .dropdown-content-list-1 {
            width: 100vw;
            height: 100px;
            margin-top: 15px;
            white-space: nowrap;
        }
            .dropdown-content-1 li a {
                transition: letter-spacing 0.5s ease;
            }

            .dropdown-content-1 li a:hover {
                letter-spacing:2px;
                background-color: inherit;
            }

        .dropdown-btn:hover .dropdown-content-1 {
            display: flex;
            background-color: #53382C;
            opacity:1;
            visibility:visible;
        }

        .menu2:hover .dropdown-content-1 {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .dropdown-content-1 {
            background-color: transparent;
            transition: all 0.6s ease;
        }

        .prod-name {
            display: flow;
            justify-content: space-around;
            padding-top: 4px;
        }

        .prod-name-list {
            font-size:16px;
            font-weight:normal;
            text-align: center;
            text-decoration: none;
        }

        .prod-name a {
            color: white;
            position: relative;
            text-decoration: none;
            transition: all 0.4s ease;
        }

        .prod-name li a:hover {
            color: lightpink;
        }

        .prod-name li a::after {
            position: absolute;
            content: '\203A';
            left: -50px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .prod-name li a:hover::after {
            opacity: 1;
        }

        #featureProd {
            text-align: center;
            width:100%;
        }

        .prod-list {
            width: 100%;
            background-color: brown;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 20px;
            padding:10px;
            font-weight:bold;
            color:white;
            margin: auto 0;
        }

        .prod-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
        }

        .prod-container-2 {
            display: flex;
            align-items: center;
            overflow: auto;
            white-space: nowrap;
        }

        .prod {
            max-width: 200px;
        }

        .prod-item {
            width: 90px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item:hover {
                transform: translateY(-5px);
            }

        .prod-item-special1 {
            width: 100px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special1:hover {
                transform: translateY(-5px);
            }

        .prod-item-special2 {
            width: 150px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special2:hover {
                transform: translateY(-5px);
            }

        .prod-item-special3 {
            width: 103px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special3:hover {
                transform: translateY(-5px);
            }

        .prod-item-special4 {
            width: 186px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special4:hover {
                transform: translateY(-5px);
            }
        .prod-item-special5 {
            width: 80px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special5:hover {
                transform: translateY(-5px);
            }
        .prod-item-special6 {
            width: 161px;
            height: 150px;
            transition: transform 0.2s ease;
        }

            .prod-item-special6:hover {
                transform: translateY(-5px);
            }

        h3 {
            font-size: 16px;
            color: yellowgreen;
        }

        .prod-price {
            font-size: 12px;
            color: green;
            margin-left: 30px;
        }

        #footer {
            background-color: #5e311e;
            color: white;
            font-size: 18px;
            clear: both;
            margin-top: 10px;
            position:relative;
            display: flex;
            justify-content: center;
        }

        p {
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 30px;
        }

        .fb-icon-image {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .ins-icon-image {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .tw-icon-image {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .phone-icon-image {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .email-icon-image {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
    <header class="header">
        <a href="~/Home/Index"><img src="~/Content/images/logo1.png" class="logo" /></a>
        <div class="head-middle">
            <input type="text" class="search" placeholder="Mời nhập nước uống bạn muốn" />
            <button type="button" class="search-button">
                <img src="~/Content/images/search-icon.JPG" class="search-image" />
            </button>
        </div>
        <ul class="menu">
            <li><a href="~/Home/GioHang" id="selection" class="cart"><img src="~/Content/images/Shopping-cart-icon.png" class="selection-image" />Giỏ hàng<i class="fas fa-circle"><span class="cart-count">2</span></i></a></li>
            <li><a href="~/Home/Favourite" id="selection"><img src="~/Content/images/Heart-icon.png" class="selection-image" />Yêu thích</a></li>
            <li><a href="~/Home/LogIn" id="selection"><img src="~/Content/images/Character-icon.png" class="selection-image" />Đăng Nhập/Đăng Ký</a></li>
        </ul>
        <div class="list-background">
            <ul class="list">
                <li><a href="~/Home/Index" class="menu1" style="z-index: 2; position: relative">Trang chủ</a></li>
                <li class="dropdown-btn">
                    <a href="~/Home/ProDuctDetail" class="menu2" style="z-index: 2; position: relative">Thực đơn</a>
                    <ul class="dropdown dropdown-content">
                        <li class="dropdown-content-list">
                            <a href="~/Home/CaPhe" class="content">Cà phê</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CaPheDen">Cà phê đen</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/BacSiu">Bạc Sỉu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CapheCaramel">Cà phê Caramel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/Tra" class="content">Trà</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraDau">Trà Dâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraThachDau">Trà Thạch Dâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraNho">Trà Nho</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraVai">Trà Vải</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraDen">Trà Đen</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/DaXay" class="content">Đá Xay</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/OreoDaXay">Oreo Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/MiloDaXay">Milo Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SocolaDaXay">Socola Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/CaramelDaXay">Caramel Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/DauDaXay">Dâu Đá Xay</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/MatchaSocolaDaXay">Matcha Socola Đá Xay</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-list">
                            <a href="~/Home/Khac" class="content">Khác</a>
                            <ul class="prod-name">
                                <li class="prod-name-list"><a href="~/ProDuctDetail/Matcha">Matcha</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/ChanhTacMatOng">Chanh Tắc Mật Ong</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SodaChanh">Soda Chanh</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/SuaTuoiTranChauDuongNau">Sữa Tươi Trân Châu Đường Nâu</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraSuaTruyenThong">Trà Sữa Truyền Thống</a></li>
                                <li class="prod-name-list"><a href="~/ProDuctDetail/TraSuaTranChauTrang">Trà Sữa Trân Châu Trắng</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="~/Home/Recruit" class="menu3">Tuyển dụng</a></li>
                <li class="dropdown-btn">
                    <a href="~/Home/AboutUs" class="menu3">Về chúng tôi</a>
                    <ul class="dropdown dropdown-content-1">
                        <li class="dropdown-content-list-1">
                            <a href="~/Home/NguonGoc" class="content1">Nguồn gốc</a>
                        </li>
                        <li class="dropdown-content-list-1">
                            <a href="~/Home/DichVu" class="content1">Dịch Vụ</a>
                        </li>
                        <li class="dropdown-content-list-1">
                            <a href="~/Home/NgheNghiep" class="content1">Nghề nghiệp</a>
                        </li>
                    </ul>
                </li>
                <li><a href="~/Home/Address" class="menu3">Địa chỉ</a></li>
            </ul>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer id="footer">
        <div>
            <img src="~/Content/images/fb-icon.png" class="fb-icon-image" />
            <img src="~/Content/images/ins-icon.png" class="ins-icon-image" />
            <img src="~/Content/images/tw-icon.png" class="tw-icon-image" />
        </div>
        <div>
            <p>&copy;  2018 Baron Coffee.  Powered by Group Baron</p>
        </div>
        <div>
            <img src="~/Content/images/phone-icon.png" class="phone-icon-image" />
        </div>
        <div>
            <p>0245269466</p>
        </div>
        <div>
            <img src="~/Content/images/email-icon.png" class="email-icon-image" />
        </div>
        <div>
            <p>customerservice@Baroncoffee.com.vn</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        </div>
</body>
</html>
