@model ThietKeWeb.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<title>Login</title>
<style>
    .background-account {
        background-image: url('../../content/images/background-account.jpg');
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .login {
        padding: 40px 75px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(8px);
        width: 600px;
        max-width: 600px;
        border-radius: 30px;
        font-weight: normal;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .place-logo {
        text-align: center;
    }

    .logo {
        width: 200px;
        height: 100px;
    }

    .login-heading {
        margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: dodgerblue;
    }

    .login-label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .input-label {
        width: 100%;
        max-width: 500px;
        height: 50px;
    }

    input {
        max-width: 500px;
        max-height: 50px;
        border-radius: 6px;
        border: 1px solid;
    }

    .submit {
        margin-top: 10px;
        text-align: center;
    }

    .login-submit {
        width: 300px;
    }

    .no-account {
        text-align: center;
    }
</style>
<div class="background-account">
    <div class="login">
        <div class="place-logo">
            <img src="~/Content/images/logo1.png" class="logo" />
        </div>
        <h1 class="login-heading">ĐĂNG NHẬP</h1>
        @using (Html.BeginForm("Login", "Admin_Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <label for="NameUser" class="login-label">Username</label>
                <br />
                @Html.TextBoxFor(model => model.Username, new { @class = "input-label", @placeholder = "Tên đăng nhập" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>
            <br />
            <div>
                <label for="PasswordUser" class="login-label">Password</label>
                <br />
                @Html.PasswordFor(model => model.Password, new { @class = "input-label", @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
            <br />
            <div>
                <label for="RememberMe">
                    @Html.CheckBox("rememberMe") Remember password?
                </label>
            </div>
            <div class="submit">
                <input type="submit" value="Đăng nhập" class="btn btn-primary login-submit" />
            </div>
            <div class="no-account">
                <p>
                    Chưa có tài khoản? |
                    @Html.ActionLink("Đăng ký", "Register", "Account", null, new { @style = "text-decoration: none; font-size: 20px" })
                </p>
            </div>
        }
    </div>
</div>


