@model ThietKeWeb.Models.ViewModel.RegisterVM

@{
    ViewBag.Title = "Thöng tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thông tin tài khoản</h2>
@using (Html.BeginForm("UpdateProfile", "Admin_Account", FormMethod.Post))
{
    <dl class="dl-horizontal">
        @Html.HiddenFor(m => m.Username)
        <dt>
            <label>Tên khách hàng</label>
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
        </dd>

        <dt>
            <label>Số điện thoại</label>
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.CustomerPhone, new { @class = "form-control" })
        </dd>
        <dt>
            <label>Email</label>
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.CustomerEmail, new { @class = "form-control" })
        </dd>
        <dt>
            <label>Địa chỉ</label>
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.CustomerAddress, new { @class = "form-control" })
        </dd>
    </dl>
    <p>
        <button type="button" class="btn btn-secondary">Cập nhật</button> |
        <a href="@Url.Action("Index", "TrangChu")" class="btn btn-primary">Quay lại</a>
    </p>
}

@if (ViewBag.Message != null)
{
    <p class="text-success">@ViewBag.Message</p>
}

