@model IEnumerable<ThietKeWeb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<style>
    .table{
        border:1px solid thin;
        border-left: hidden;
        border-right: hidden;
        border-collapse:collapse;
        width:100vw;
        height: 50px;
    }
</style>
<h1>SẢN PHẨM</h1>
<p>
    @Html.ActionLink("Thêm sản phẩm mới", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Danh mục
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td width="400">
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <img src="~/Content/images/@item.ProductImage" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>